*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

html, body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    position:relative;
}

.nav{
    /*  */
    /* background-color: red; */
    /* height: 100px; */
    height: 5vw;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4vw;
}

.nav-part2{
    /*  */
    /* background-color: blue; */
    display: flex;
    align-items: center;
    gap: 4vw;
    padding: 0 1vw;
}

.nav h2{
    font-size: 1.5vw;
    font-weight: 700;
}

.nav h4{
    font-size: 1.1vw;
    font-weight: 700;
}

.nav-part2 button{
    font-size: 1vw;
    padding: 0.7vw 1.4vw;
    background-color: #56B690;
    color: #fff;
    border: none;
    /* border-radius: 5px; */
    border-radius: 0.2vw;
    font-weight: 600;
}

.nav-part2 i{
    font-weight: 800;
    display: none;

}

.content{
    /* IMP  calc(100% space - space 100px) */
    height: calc(95% - 5vw);
    width: 100%;

    display: flex;
    position: relative;
}

.left{
    height: 100%;
    width: 55%;

    padding: 5vw 4vw;
}

.left h1{
    font-size: 4.2vw;
    line-height: 4.4vw;
}

.left h1 span{
    color: #56B690;
}

.left p{
    font-size: 1.2vw;
    font-weight: 400;
    color: #666;
    width: 80%;

    margin-top: 1.5vw;
    margin-bottom: 3vw;
}

.content button{
    font-size: 1.5vw;
    padding: 1.3vw 2.3vw;
    background-color: #56B690;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}

.right{
    height: 100%;
    width: 45%;
}

.right img{
    height: 100%;
    width: 100%;
}

.link-footer{
    width: 100%;

    font-weight: 1000;
    /* background-color: red; */
    text-align: center;
    margin-top: 0.5vw;
    padding-bottom: 0.2vw;
}

.link-footer a{
    text-decoration: none;
    color: rgb(146, 141, 141);
    font-size: 1vw;
    font-weight: 100;
}












@media (max-width:600px){
    .nav{
        background-color: red;
        height: 10vw;
        padding: 0 5vw;
    }
    .nav h2{
        font-size: 5.1vw;
        
    }
    .nav h4{
        font-size: 4vw;
        display: none;

    }

    .nav-part2 button{
        display: none;
    }

    .nav-part2 i{
        display: block;
        font-size: 4.5vw;
    }

    .content{
        height: calc(96% - 10vw);
        flex-direction: column;
    }

    .left{
        width: 100%;
        height: 53%;

        padding: 4vw 6vw;
    }

    .right{
        width: 100%;
        height: 42%;
    }

    .left h1{
        font-size: 10vw;
        line-height: 11vw;
    }

    .left p{
        font-size: 3vw;
        width: 90%;
        margin-top: 5vw;
        margin-bottom: 6vw;
    }

    .content button{
        padding: 3vw 6vw;
        border-radius: 3px;
        font-weight: 600;
        font-size: 3.5vw;
    }

    .link-footer a{
        font-size: 5vw;
    }
}

